.heading {
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    margin: 80px 15px;
    /* 修正了原先的font-size重复问题，并设置了字体粗细 */
}

.Education {
    padding: 80px 15px;
    background: #151515;
    /* 直接指定背景色，而不是使用变量 */
}

.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #ffffff;
    left: calc(50% - 2.5px);
    /* 调整为正确的计算方式 */
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: #f1e6e6;
    box-shadow: 0 0 25px rgb(241, 51, 184);
    position: absolute;
    left: calc(50% - 10.5px);
    /* 修正位置 */
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: #fcfbfb;
    margin: 6px 0 15px;
}

.timeline-content {
    background-color: #fff;
    border: 3px solid rgb(241, 51, 184);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px rgb(241, 51, 184);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: #121212;
}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgb(241, 51, 184);
}

.timeline-content h3,
.timeline-content p {
    color: rgb(15, 11, 11);
    /* 确保标题和段落文字颜色为白色 */
}

.timeline-content h3 {
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #f133b8;
    /* 直接指定颜色，而不是使用变量 */
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
    /* 直接指定颜色，而不是使用变量 */
}